@media (max-width: 992px) {
  .mobile-only {
    display: inherit;
  }
  .pc-only {
    display: none;
  }
}

@media (min-width: 992px) {
  .pc-only {
    display: inherit;
  }
  .mobile-only {
    display: none;
  }
}

.zero-margin {
  margin: 0px;
}

.pulldown {
  margin-top: 60px;
}

.zero-padding {
  padding: 0px;
}

#backdrop {
  background: url(../img/backdrop.jpg) no-repeat center center;
  background-size: 120%;
}