doctype html

extends ./layout.jade

block title
  title NTU Chingay Official Page

block content
  .container-fluid.pulldown
    center
      h3 We are still building!!!
      .col-md-3
      .progress.col-md-6.zero-margin.zero-padding
        .progress-bar.progress-bar-striped.progress-bar-success.active(role="progressbar", style="width: 100%")
      .col-md-3