extends ./layout.jade

block title
  title NTU Chingay Official Page

block content
  .container-fluid.zero-margin.zero-padding.pulldown#background
    img#backdrop(src="img/backdrop.jpg")
    center
      h2 What is Chingay?
      .container
        h3 Vibrant floats, dancing dragons, prancing lions, stilt walkers, wushu masters, <br>performers of different races in their traditional costumes and many, many more...
        h5
          | <br>Chingay is also the largest street performance and float parade in Asia. From the main parade site to the heartlands, this street<br>extravaganza epitomises the dynamism of Singapore's vibrant and multicultural society.<br>
          | <br>The word Chingay is equivalent to the Mandarin zhuang yi (妆艺), which means "the art of costume and masquerade" in the Hokkien dialect.
      .container
        a(href="https://www.facebook.com/ntuchingaycommunity?fref=ts").btn.btn-info.btn-lg
          | Follow us on <img src="img/fb.png"></img>
        a(href="joinus.html").btn.btn-success.btn-lg
          | Sign Up Now!
        a(href="ntucommittee.html").btn.btn-warning.btn-lg
          | About NTU Chingay Committee

  hr

  .container-fluid
    center
      h2 Announcements
      h6 Last updated: 31/12/2015
      .col-md-3
      .col-md-6.zero-margin.zero-padding
        ul.announce
          li.text-left Training schedule is out !!! <a href="training.html">Check it out here</a> !!!
          li.text-left FAQ updates about training logistics !!! <a href="contactus.html">Check them out here</a> !!!
      .col-md-3
