extends ./layout.jade

block title
  title NTU Chingay Official Page

block content
  .container-fluid.pulldown
    .container#backdrop
    center
      h3 What is Chingay?
      .container
        h4 Vibrant floats, dancing dragons, prancing lions, stilt walkers, wushu masters, performers of different races in their traditional costumes and many, many more...
        h4
        | Chingay is also the largest street performance and float parade in Asia. From the main parade site to the heartlands, this street extravaganza epitomises the dynamism of Singapore's vibrant and multicultural society.
        | The word Chingay is equivalent to the Mandarin zhuang yi (妆艺), which means "the art of costume and masquerade" in the Hokkien dialect.
      .container.pulldown
        a(href="https://www.facebook.com/ntuchingaycommunity?fref=ts").btn.btn-info.btn-lg
          | Follow us in FB!
        a(href="joinus.html").btn.btn-success.btn-lg
          | Sign Up Now!
        a(href="ntucommittee.html").btn.btn-warning.btn-lg
          | About NTU Chingay Committee

  hr

  .container-fluid
    center
      h2 Announcements
      h4 We will update soon!!
      .col-md-3
      .progress.col-md-6.zero-margin.zero-padding
        .progress-bar.progress-bar-striped.progress-bar-success.active(role="progressbar", style="width: 100%")
      .col-md-3