extends ./layout.jade

block title
  title NTU Chingay Contingent

block content
  .container-fluid.pulldown
    center
      h3 NTU Chingay Contingent
      p We are group of 12 unique individuals who aim to make the NTU Chingay experience one that is memorable for our participants.
    .col-md-4.committee-pic-container
        figure
            img.committee-pic(src="img/committee_pic_1.jpg", title="title 1")
            figcaption Welcome to join Chingay! Taken during CCA week.
    .col-md-4.committee-pic-container
        figure
            img.committee-pic(src="img/committee_pic_2.jpg", title="title 1")
            figcaption Our committee members in shower caps.
    .col-md-4.committee-pic-container
        figure
            img.committee-pic(src="img/committee_pic_6.jpg", title="title 1")
            figcaption Our committee members in shower caps again.
    .col-md-4.committee-pic-container
        figure
            img.committee-pic(src="img/committee_pic_5.jpg", title="title 1")
            figcaption Testing out our most complicated ice-breaker game for welcome tea!
    .col-md-4.committee-pic-container
        figure
            img.committee-pic(src="img/committee_pic_3.jpg", title="title 1")
            figcaption Committee members self introduction during Welcome Tea.
    .col-md-4.committee-pic-container
        figure
            img.committee-pic(src="img/committee_pic_4.jpg", title="title 1")
            figcaption Group photos with our honoured PAYM representatives